<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../public/partials/head %>
</head>
<body class="container">

    <header>
        <% include ../public/partials/header %>
    </header>

    <main>
        <div class="container">

          <div class="row">
              <div class="box">
                  <div class="col-lg-12">
                      <hr>
                      <%if (userExists) { %>
                        <h2 class="intro-text text-center"><strong> <%= user.username %></strong>, Welcome to TraveLog</h2>    
                      <% } else{ %>
                          <h2 class="intro-text text-center">Welcome to TraveLog</h2>
                      <%}%>
                      <hr>
                  </div>
                  <div class="col-md-6">
                      <img class="img-responsive img-border-left" src="img/slide-2.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                      
                      <p>20 years from now you should be able to see all the cities you visited in 2016!</p>
                      
                    </div>
                  <div class="clearfix"></div>
              </div>
          </div>

          <div class="row">
              <div class="box">
                  <div class="col-lg-12">
                      <hr>
                      <h2 class="intro-text text-center">
                          <strong>Great Places to visit</strong>
                      </h2>
                      <hr>
                  </div>
                  <div class="col-sm-4 text-center">
                      <img class="img-responsive" src="img/rioNew.jpg" alt="">
                      <h3>Rio de Janeiro
                          <small>Brazil</small>
                      </h3>
                  </div>
                  <div class="col-sm-4 text-center">
                      <img class="img-responsive" src="img/venice.jpg" alt="">
                      <h3>Venice
                          <small>Italy</small>
                      </h3>
                  </div>
                  <div class="col-sm-4 text-center">
                      <img class="img-responsive" src="img/sydney.jpg" alt="">
                      <h3>Syndey
                          <small>Australia</small>
                      </h3>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </div>

      </div>
      <!-- /.container -->
    </main>

    <footer>
        <% include ../public/partials/footer %>
    </footer>
    
</body>
</html>
