<meta charset="UTF-8">
<title>Super Awesome</title>

<link href="partials/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/business-casual.css" rel="stylesheet">

<!-- jQuery -->
<script src="partials/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="partials/js/bootstrap.min.js"></script>


<style>
    body    { padding-top:50px; }
</style>
